@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Regular.woff2?v=39b4e18f6725") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Medium.woff2?v=b23556d58dbb") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Bold.woff2?v=c1c9cb8210b1") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Regular.woff2?v=9d21ae97471a") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-SemiBold.woff2?v=c45ec2b0e395") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Bold.woff2?v=7938aad0a1ec") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Inconsolata";
  src: url("../fonts/Inconsolata-Regular.woff2?v=2a12d7426110") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Inconsolata";
  src: url("../fonts/Inconsolata-Bold.woff2?v=01fa89e00703") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
