@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Regular.woff2?v=6e783abd6c98") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Medium.woff2?v=3536daf0be55") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Bold.woff2?v=23e2b375b237") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Regular.woff2?v=1cf1237b12f6") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-SemiBold.woff2?v=3286122a0284") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Bold.woff2?v=7043e548ddd9") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Inconsolata";
  src: url("../fonts/Inconsolata-Regular.woff2?v=2a12d7426110") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
