@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Regular.woff2?v=06a9d1012dc8") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Medium.woff2?v=4f852fc4cb9e") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Bold.woff2?v=5a382fedbf60") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Regular.woff2?v=0ca08751f6c8") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-SemiBold.woff2?v=da222e1f7e56") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Bold.woff2?v=2eed512e1dfc") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Inconsolata";
  src: url("../fonts/Inconsolata-Regular.woff2?v=7a3773c1ee9b") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Inconsolata";
  src: url("../fonts/Inconsolata-Bold.woff2?v=e67310480d01") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
