@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Regular.woff2?v=4c03b9954a8f") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Medium.woff2?v=1b1dcadb5d09") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Bold.woff2?v=06581f3997a7") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Regular.woff2?v=952e43f90b79") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-SemiBold.woff2?v=6d1db643b1f1") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Bold.woff2?v=49a9cfe0a515") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Inconsolata";
  src: url("../fonts/Inconsolata-Regular.woff2?v=7a3773c1ee9b") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Inconsolata";
  src: url("../fonts/Inconsolata-Bold.woff2?v=e67310480d01") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
