@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Regular.woff2?v=1f22893c8f6a") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Medium.woff2?v=7a3b18b0918b") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Sans";
  src: url("../fonts/SourceHanSansSC-Bold.woff2?v=94bcc5b0a523") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Regular.woff2?v=c09960ab0379") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-SemiBold.woff2?v=0d1c02fabd15") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Course Source Han Serif";
  src: url("../fonts/SourceHanSerifCN-Bold.woff2?v=123645bfb251") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Course Inconsolata";
  src: url("../fonts/Inconsolata-Regular.woff2?v=19c82ca6d2a9") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
